:root {
  --text-white: #FFF;
  --nav-text-color: #3947b4;
  --primary-text-color: #717c89;
  --secondary-text-color: #919aa5;
  --tertiary-text-color: #38a6db;
  --breadcrumbs-text-color: #8186f4;
}

.text-white {
  color: #FFF;
}

.nav-text {
  color: #1b1f82;
}

.accent-color {
  background: #3947b4;
}

.primary-text-color {
  color: #717c89;
}

.secondary-text-color {
  color: #919aa5;
}

.tertiary-text-color {
  color: #38a5db;
}

.breadcrumbs-text-color {
  color: #6877cf;
}

.divider-color {
  background-color: #38a5db;
}

.wrapper {
  margin-left: 132px;
  margin-right: 132px;
}

.wrapper_3 {
  margin-left: 132px;
  margin-right: 132px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

/* countdown */

.countdown-timer {
  padding-top: 144px;
  font-size: 20px;
}

.cyan-text {
  margin-bottom: 20px;
}

.colon {
  color: var(--breadcrumbs-text-color);
  display: inline-block;
  padding: 5px;
  font-size: 25px;
}

.timer-area li {
  display: inline-block;
  border: 1px solid var(--breadcrumbs-text-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
}

.timer-area li p {
  display: inline-block;
}

/* countdown */

/* VIDEO */

.video {
  background: url(../Assets/Pics/video-cover1x.png) no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center;
  border-radius: 6px;
  width: 470px;
  height: 330px;
  position: absolute;
  top: 248px;
  right: 137px;
  z-index: 9;
}

/* VIDEO */

.logo-dark {
  background: url(../Assets/logo/dark.svg) no-repeat;
  background-size: 100%;
  width: 97px;
  height: 39px;
  position: absolute;
  margin: 15px 0 15px 132px;
  z-index: 999;
  position: fixed;
}

.logo-light {
  background: url(../Assets/logo/Light.svg) no-repeat;
  background-size: 100%;
  width: 97px;
  height: 39px;
  position: absolute;
  margin-top: 46px;
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
}

nav {
  background-color: var(--text-white);
  height: 70px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  text-align: center;
  line-height: 70px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

nav ul {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  text-align: center;
  margin-right: 132px;
}

nav a {
  text-decoration: none;
  color: var(--nav-text-color);
  display: block;
  margin-left: 41px;
  transition: all .3s ease-in-out;
}

nav a:hover {
  opacity: .5;
}

/* section 1 */

.home {
  height: 778px;
  background: url(../Assets/BG/Shape1@1x.svg) no-repeat top left, url(../Assets/BG/Shape2@1x.svg) no-repeat top left, linear-gradient(to right, #2f3daf 0%, #263396 100%);
}

.hero-message {
  font-size: 41px;
  width: 50%;
  font-weight: 400;
  margin: 55px 0 66px;
  line-height: 65px;
  text-align: left;
}

.subscribe {
  float: left;
}

.subscribe input {
  background-color: #fff;
  border-style: none;
  border-radius: 100px;
  width: 440px;
  padding: 13px 0 13px 20px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.subscribe form {
  padding: 25px 0;
}

.subscribe button {
  background-color: var(--tertiary-text-color);
  border-style: none;
  border-radius: 100px;
  width: 159px;
  padding: 13px;
  color: #fff;
  font-size: 17px;
  transform: translateX(-52px);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.subscribe button:hover {
  background-color: #6ccefc;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 151px;
}

.social-media div {
  margin-left: 22px;
}

.twitter {
  background: url(../Assets/Social_icons/Twitter@1x.svg) no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.facebook {
  background: url(../Assets/Social_icons/Facebook@1x.svg) no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.medium {
  background: url(../Assets/Social_icons/Medium@1x.svg) no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.github {
  background: url(../Assets/Social_icons/Github@1x.svg) no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.telegram {
  background: url(../Assets/Social_icons/Telegram@1x.svg) no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

/* section 2 */

.team {
  height: 614px;
  background: #fff;
}

.center {
  text-align: center;
}

.cap1 {
  font-size: 20px;
  position: relative;
  top: 51px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin: 127px 0 89px;
  text-align: center;
  width: 100%;
}

.flex-container p {
  color: var(--primary-text-color);
  font-size: 15px;
  line-height: 1.7;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 13px;
  margin: 4px 0 20px;
}

.card1 {
  max-width: 270px;
  margin: 0 5px 0;
}

.card2 {
  max-width: 270px;
  margin: 0 5px 0;
}

.card3 {
  max-width: 270px;
  margin: 0 5px 0;
}

.card4 {
  max-width: 270px;
  margin: 0 5px 0;
}

.socials {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.fb {
  background: url(../Assets/Profil/Facebook@1x.svg) no-repeat;
  background-position: center;
  border: 1px solid #7f8b98;
  border-radius: 3px;
  margin-right: 3px;
  width: 41px;
  height: 21px;
}

.in {
  background: url(../Assets/Profil/linkedin@1x.svg) no-repeat;
  background-position: center;
  border: 1px solid #7f8b98;
  border-radius: 3px;
  margin-left: 3px;
  width: 41px;
  height: 21px;
}

.edgar {
  background: url(../Assets/Pics/Edgar-Morrison1x.jpg) no-repeat;
  background-size: 100%;
  width: 136px;
  height: 136px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.mae {
  background: url(../Assets/Pics/Mae-Martin1x.jpg) no-repeat;
  background-size: 100%;
  width: 136px;
  height: 136px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.david {
  background: url(../Assets/Pics/David-Banks1x.jpg) no-repeat;
  background-size: 100%;
  width: 136px;
  height: 136px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.frederick {
  background: url(../Assets/Pics/Frederick-Parsons1x.jpg) no-repeat;
  background-size: 100%;
  width: 136px;
  height: 136px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* section 3 */

.contact {
  height: 364px;
}

.mail-us {
  padding-top: 92px;
  padding-bottom: 32px;
  line-height: 55px;
}

.c-us {
  font-size: 16px;
}

.mail-us a {
  font-size: 20px;
  color: #0f80fe;
  transition: all .3s ease-in-out;
}

.mail-us a:hover {
  opacity: .5;
}

.under-mail {
  font-size: 15px;
}

.subscribe-button {
  background-color: var(--tertiary-text-color);
  border-style: none;
  border-radius: 100px;
  width: 222px;
  padding: 13px;
  transform: translateY(46px);
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  float: right;
  transition: all .3s ease-in-out;
}

.subscribe-button:hover {
  background-color: #6ccefc;
}

.subscribe-button.a {
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -23px;
}

.breadcrumbs a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.breadcrumbs li {
  font-size: 15px;
  padding: 10px;
}

.breadcrumbs a:hover {
  opacity: .5;
}

/* media */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina stuff here */
  .video {
    background: url(../Assets/Pics/video-cover2x.png) no-repeat;
    background-size: 470px 330px;
  }
  .edgar {
    background: url(../Assets/Pics/Edgar-Morrison2x.jpg) no-repeat;
    background-size: 136px 136px;
  }
  .mae {
    background: url(../Assets/Pics/Mae-Martin2x.jpg) no-repeat;
    background-size: 136px 136px;
  }
  .david {
    background: url(../Assets/Pics/David-Banks2x.jpg) no-repeat;
    background-size: 136px 136px;
  }
  .frederick {
    background: url(../Assets/Pics/Frederick-Parsons2x.jpg) no-repeat;
    background-size: 136px 136px;
  }
}

@media (min-width: 861px) {
  .hidden-copy {
    display: none;
  }
  .slider {
    display: none;
  }
}

@media (max-width: 1400px) {
  .video {
    width: 290px;
    height: 203px;
    top: 182px;
  }
  .team>.wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
  .flex-container p {
    font-size: 13px;
  }
  .card1, .card2, .card3, .card4 {
    max-width: 260px;
    margin: 0 15px 0;
  }
  .hero-message {
    font-size: 35px;
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .logo-dark {
    background-size: 90%;
    width: 97px;
    height: 39px;
    position: absolute;
    margin: 15px 0 15px 15px;
    z-index: 999;
    position: fixed;
  }
  nav {
    height: 59px;
    line-height: 60px;
  }
  nav ul {
    margin-right: 15px;
  }
  .home {
    background: url(../Assets/BG/Shape1@1x.svg) no-repeat -97px 0%, url(../Assets/BG/Shape2@1x.svg) no-repeat -298px -230px, linear-gradient(to right, #2f3daf 0%, #263396 100%);
    height: 844px;
  }
  .responsive {
    margin: 0 auto;
  }
  .countdown-timer {
    padding-top: 91px;
    text-align: center;
  }
  .timer-area li {
    font-size: 18px;
  }
  #countdown {
    margin-top: 29px;
  }
  .hero-message {
    font-size: 28px;
    width: 100%;
    line-height: 1.2;
    text-align: center;
  }
  .subscribe {
    margin: 0 auto;
    float: initial;
    text-align: center;
  }
  .subscribe p {
    text-align: center;
  }
  .subscribe input {
    max-width: 440px;
    width: 92%;
    display: inline-block
  }
  .subscribe button {
    font-size: 17px;
    transform: translateX(-155px);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    position: absolute;
  }
  .video {
    top: 505px;
    right: 420px;
    position: absolute;
  }
  .wrapper_3 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 860px) {
  .flex-container {
    display: none;
  }
  .logo-dark {
    padding-top: 15px;
    margin-top: 15px;
  }
  .wrapper {
    margin: 0 20px 0 20px;
  }
  nav ul {
    display: none;
  }
  .colon {
    padding: 3px;
    font-size: 20px;
  }
  .timer-area li {
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
  }
  .timer-area li p {
    display: inline-block;
  }
  #countdown {
    margin-top: 0px;
  }
  .hero-message {
    margin: 24px 0 35px;
  }
  .hero-message {
    font-size: 28px;
    width: 100%;
  }
  .subscribe button {
    color: rgba(255, 255, 255, 0);
    background: var(--tertiary-text-color) url(../Assets/Icon/Subscribe@1x.svg) no-repeat;
    background-position: center;
    width: 60px;
    transition: all 0s;
    transform: translateX(-58px);
  }
  .video {
    background-size: contain;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 37px;
    right: 0px;
    border-radius: 20px;
  }
  .social-media {
    justify-content: center;
    position: relative;
    top: 61px;
  }
  .social-media div {
    margin-left: 22px;
  }
  .wrapper_3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo-light {
    position: static;
    margin: 50px auto;
  }
  .subscribe-button {
    transform: translateY(0px);
    float: none;
    position: static;
    margin: 0 auto;
    transition: all 0s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  .mail-us {
    padding-top: 43px;
    padding-bottom: 32px;
    line-height: 35px;
  }
  .c-us {
    font-size: 16px;
  }
  .nice {
    margin: 24px 0 40px;
  }
  .mail-us a {
    font-size: 20px;
    color: #0f80fe;
    transition: all .3s ease-in-out;
  }
  .mail-us a:hover {
    opacity: .5;
  }
  .under-mail {
    font-size: 15px;
  }
  .breadcrumbs {
    display: static;
    bottom: -23px;
    margin-top: 70px;
    text-align: center;
  }
  .breadcrumbs a {
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  .breadcrumbs a:hover {
    opacity: .5;
  }
  .contact {
    height: 517px;
  }
  .copy {
    display: none;
  }
  .hidden-copy {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
    font-size: 15px;
    text-decoration: none;
  }
}

/* slider CSS */

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.slides {
  padding: 0;
  width: 320px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 95px;
  text-align: center;
}

.slides p {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 15px;
  line-height: 2.2;
}

.slides .card1, .card2, .card3, .card4 {
  max-width: 320px;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 320px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 320px;
  height: 100%;
}

.nav label {
  display: none;
  position: absolute;
  opacity: 0.1;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #000;
  font-size: 100pt;
  text-align: center;
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover+.nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked+.slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: -15px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(45, 60, 165, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(45, 60, 165, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1, input#img-2:checked~.nav-dots label#img-dot-2, input#img-3:checked~.nav-dots label#img-dot-3, input#img-4:checked~.nav-dots label#img-dot-4 {
  background: rgba(45, 60, 165, 1);
}
